<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.x-o-r-r-o.alfred.proxiedmail</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>026CF391-A49A-5B9B-9113-9E84A2AA52F4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4D1DBDCC-9524-5F12-9F01-A48CA1906AB6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>58F71F2D-13BE-5ACA-8096-3024648B5237</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>500C9A4A-48AE-52C4-AC1A-45919F9EB844</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>2A7A1B3D-4A26-57C7-A966-367640E08A28</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>00A7950A-B504-5D6D-A98B-A015D83A619F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>18C3B1E6-C4A2-5A46-8F35-0D98B31B27DF</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0A48D75F-C48C-5037-AE87-F3597430D718</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>AFE0BE40-BCE2-5ECB-9356-F676698DADF5</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E83B3AC5-00E2-5CDF-ADE3-40B6CBEBA0C2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>833A9C52-952F-5F88-819B-443127CFB774</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B7383943-4212-59E4-BE4F-4C26033EC4C3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>DB51C916-2123-5380-A6BD-9A1FF3DF1C6C</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>982C72A4-668F-516D-A8B9-7B2D291F73BE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>79C719FC-84A1-5354-B596-94AD249FFF75</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>31B729EA-3B05-5E21-BCC0-62B05B9CFCD9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C9CE0343-42F8-5C0D-AE94-F977AB760047</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4F5B8F4D-F4FF-5FC0-9D92-C1CD4E054E9E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>026CF391-A49A-5B9B-9113-9E84A2AA52F4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>500C9A4A-48AE-52C4-AC1A-45919F9EB844</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0A48D75F-C48C-5037-AE87-F3597430D718</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>521BEDBC-540F-5AFE-9264-B23EEC73F50A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4F5B8F4D-F4FF-5FC0-9D92-C1CD4E054E9E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6C114A88-49A0-5FF5-960C-7EE6EA313DD4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9271A027-F383-58D9-9455-08D21A35EA1E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9271A027-F383-58D9-9455-08D21A35EA1E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>026CF391-A49A-5B9B-9113-9E84A2AA52F4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>982C72A4-668F-516D-A8B9-7B2D291F73BE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2C89E3E3-B82E-50C4-BB80-C90C81FF4B30</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A8297114-E3CA-515E-99F5-5E3A8465BE3A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C9CE0343-42F8-5C0D-AE94-F977AB760047</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AC9E01B1-D2F6-5D9B-BA57-28D21C23A769</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C9CE0343-42F8-5C0D-AE94-F977AB760047</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B7383943-4212-59E4-BE4F-4C26033EC4C3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0A48D75F-C48C-5037-AE87-F3597430D718</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>2C89E3E3-B82E-50C4-BB80-C90C81FF4B30</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C8FB5E3C-7B2E-5726-9D54-0AA46018ABDE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C9CE0343-42F8-5C0D-AE94-F977AB760047</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C9CE0343-42F8-5C0D-AE94-F977AB760047</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>026CF391-A49A-5B9B-9113-9E84A2AA52F4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D242243E-5AF8-5DB8-9AED-2CB1DC7588AA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0B36D339-6720-5E19-8349-1C365EC9E7DD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E83B3AC5-00E2-5CDF-ADE3-40B6CBEBA0C2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2C89E3E3-B82E-50C4-BB80-C90C81FF4B30</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F9207154-2029-5BD1-B3BC-D34CEBA03831</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C190D144-20EE-5941-8191-BD87357CA5C9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>x-o-r-r-o</string>
	<key>description</key>
	<string>Manage ProxiedMail aliases and read their inboxes</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>ProxiedMail</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:kw_aliases}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading aliases…</string>
				<key>script</key>
				<string>./proxiedmail.js aliases "${1}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string>Copy, paste, pause, edit or delete an alias</string>
				<key>title</key>
				<string>Search ProxiedMail aliases</string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>31B729EA-3B05-5E21-BCC0-62B05B9CFCD9</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:kw_create}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading…</string>
				<key>script</key>
				<string>./proxiedmail.js create "${1}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string>Random, custom, for the current website, or a burner</string>
				<key>title</key>
				<string>Create ProxiedMail alias</string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>AC9E01B1-D2F6-5D9B-BA57-28D21C23A769</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:kw_inbox}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading inbox…</string>
				<key>script</key>
				<string>./proxiedmail.js inbox "${1}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string>Read received emails, copy codes and links</string>
				<key>title</key>
				<string>ProxiedMail inbox</string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>A8297114-E3CA-515E-99F5-5E3A8465BE3A</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:kw_code}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Checking inboxes…</string>
				<key>script</key>
				<string>./proxiedmail.js code "${1}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string>Watch for new emails and copy their codes</string>
				<key>title</key>
				<string>ProxiedMail verification codes</string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>C8FB5E3C-7B2E-5726-9D54-0AA46018ABDE</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>Search ProxiedMail Aliases</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>D242243E-5AF8-5DB8-9AED-2CB1DC7588AA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<false/>
				<key>acceptsurls</key>
				<true/>
				<key>name</key>
				<string>Create ProxiedMail Alias for Website</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>6C114A88-49A0-5FF5-960C-7EE6EA313DD4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>521BEDBC-540F-5AFE-9264-B23EEC73F50A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>F9207154-2029-5BD1-B3BC-D34CEBA03831</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./proxiedmail.js run "${1}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C9CE0343-42F8-5C0D-AE94-F977AB760047</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./proxiedmail.js find "${1}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0B36D339-6720-5E19-8349-1C365EC9E7DD</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./proxiedmail.js createForURL "${1}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9271A027-F383-58D9-9455-08D21A35EA1E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./proxiedmail.js createForSite</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4F5B8F4D-F4FF-5FC0-9D92-C1CD4E054E9E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./proxiedmail.js showCodes</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C190D144-20EE-5941-8191-BD87357CA5C9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:out}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>copy</string>
						<key>outputlabel</key>
						<string>Copy</string>
						<key>uid</key>
						<string>58F71F2D-13BE-5ACA-8096-3024648B5237</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:out}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>copy_notify</string>
						<key>outputlabel</key>
						<string>Copy + Notify</string>
						<key>uid</key>
						<string>2A7A1B3D-4A26-57C7-A966-367640E08A28</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:out}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>paste</string>
						<key>outputlabel</key>
						<string>Paste</string>
						<key>uid</key>
						<string>18C3B1E6-C4A2-5A46-8F35-0D98B31B27DF</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:out}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>notify</string>
						<key>outputlabel</key>
						<string>Notify</string>
						<key>uid</key>
						<string>AFE0BE40-BCE2-5ECB-9356-F676698DADF5</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:out}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>secret</string>
						<key>outputlabel</key>
						<string>Copy Secret</string>
						<key>uid</key>
						<string>833A9C52-952F-5F88-819B-443127CFB774</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:out}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>secret_notify</string>
						<key>outputlabel</key>
						<string>Copy Secret + Notify</string>
						<key>uid</key>
						<string>DB51C916-2123-5380-A6BD-9A1FF3DF1C6C</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:out}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>secret_paste</string>
						<key>outputlabel</key>
						<string>Paste Secret</string>
						<key>uid</key>
						<string>79C719FC-84A1-5354-B596-94AD249FFF75</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Nothing</string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>026CF391-A49A-5B9B-9113-9E84A2AA52F4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<true/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>4D1DBDCC-9524-5F12-9F01-A48CA1906AB6</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<true/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>500C9A4A-48AE-52C4-AC1A-45919F9EB844</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<true/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>00A7950A-B504-5D6D-A98B-A015D83A619F</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<true/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>E83B3AC5-00E2-5CDF-ADE3-40B6CBEBA0C2</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<true/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>B7383943-4212-59E4-BE4F-4C26033EC4C3</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<true/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>982C72A4-668F-516D-A8B9-7B2D291F73BE</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>[[ "${clear_seconds:-0}" -gt 0 ]] || exit 0
sleep "${clear_seconds}"
# Only clear if the copied secret is still on the clipboard
[[ "$(/usr/bin/pbpaste)" == "${1}" ]] &amp;&amp; /usr/bin/printf '' | /usr/bin/pbcopy</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2C89E3E3-B82E-50C4-BB80-C90C81FF4B30</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{var:notif_text}</string>
				<key>title</key>
				<string>{var:notif_title}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>0A48D75F-C48C-5037-AE87-F3597430D718</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>## Usage

Search your [ProxiedMail](https://proxiedmail.com) aliases via the `pmail` keyword. Type to filter by address, description, or forwarding address.

* &lt;kbd&gt;↩&lt;/kbd&gt; Copy alias.
* &lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; Paste alias into the frontmost app.
* &lt;kbd&gt;⌥&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; Open alias inbox.
* &lt;kbd&gt;⌃&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; Pause or resume forwarding.
* &lt;kbd&gt;⇧&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; Show more actions: edit description, add, replace or remove forwarding addresses, set webhook, watch for codes, delete alias. Type after the address to enter a new description, forwarding address, or webhook URL.

Narrow the search with filters such as `:paused`, `:burner`, `:unverified`, `:mail`, `:inbox`, and `:webhook`. Type `:` to see them all. Forwarding addresses that still need to be verified are marked ⚠️, since ProxiedMail doesn't deliver to them yet.

Create aliases via the `pmnew` keyword, optionally followed by a description. Start with `name@` for a custom address, e.g. `pmnew shop@ Amazon orders`.

* &lt;kbd&gt;↩&lt;/kbd&gt; Create alias and copy it (or paste it, as set in the Workflow’s Configuration).
* &lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; Create alias and do the opposite of the above.
* &lt;kbd&gt;⌥&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; Create alias, copy it, and wait for its first email and code.

Create a random alias, one described by the website in the frontmost browser tab, or a burner inbox with no forwarding. Choose the domain and forwarding address for new aliases from the rows below the create options.

Read received emails via the `pminbox` keyword. Pick an alias, then an email to open it, copy its verification code, or open its links.

* &lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; Open email in the default browser.
* &lt;kbd&gt;⌥&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; Copy verification code.
* &lt;kbd&gt;⌃&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; Copy email text.
* &lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;Y&lt;/kbd&gt; Quick Look email.

Emails can only be read for aliases with inbox browsing on, and only emails received after it was turned on are listed. Turn it on for all aliases at once from the bottom of the list. Remote images are blocked unless allowed in the Workflow’s Configuration.

Watch for verification codes via the `pmcode` keyword. New emails to aliases with inbox browsing are checked every few seconds, showing codes and verification links from recent emails. Copied codes are kept out of Alfred's clipboard history and can be cleared automatically, as set in the Workflow’s Configuration.

* &lt;kbd&gt;↩&lt;/kbd&gt; Copy code or open verification link.
* &lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; Paste code into the frontmost app.
* &lt;kbd&gt;⌥&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; Open email.

Alternatively, search aliases from selected text or create an alias for a selected URL via the Universal Actions.

Configure the Hotkeys to create an alias for the frontmost browser tab and paste it in one step, or to jump straight to the latest codes.

This workflow was built with the help of an AI assistant (Claude).
</string>
	<key>uidata</key>
	<dict>
		<key>00A7950A-B504-5D6D-A98B-A015D83A619F</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<integer>330</integer>
		</dict>
		<key>026CF391-A49A-5B9B-9113-9E84A2AA52F4</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>0A48D75F-C48C-5037-AE87-F3597430D718</key>
		<dict>
			<key>xpos</key>
			<integer>900</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
		<key>0B36D339-6720-5E19-8349-1C365EC9E7DD</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>500</integer>
		</dict>
		<key>2C89E3E3-B82E-50C4-BB80-C90C81FF4B30</key>
		<dict>
			<key>note</key>
			<string>Clears copied codes after the configured delay</string>
			<key>xpos</key>
			<integer>900</integer>
			<key>ypos</key>
			<integer>630</integer>
		</dict>
		<key>31B729EA-3B05-5E21-BCC0-62B05B9CFCD9</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>4D1DBDCC-9524-5F12-9F01-A48CA1906AB6</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>4F5B8F4D-F4FF-5FC0-9D92-C1CD4E054E9E</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>760</integer>
		</dict>
		<key>500C9A4A-48AE-52C4-AC1A-45919F9EB844</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>521BEDBC-540F-5AFE-9264-B23EEC73F50A</key>
		<dict>
			<key>note</key>
			<string>Set a hotkey to create an alias for the frontmost browser tab and paste it</string>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>760</integer>
		</dict>
		<key>6C114A88-49A0-5FF5-960C-7EE6EA313DD4</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>630</integer>
		</dict>
		<key>9271A027-F383-58D9-9455-08D21A35EA1E</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>630</integer>
		</dict>
		<key>982C72A4-668F-516D-A8B9-7B2D291F73BE</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<integer>780</integer>
		</dict>
		<key>A8297114-E3CA-515E-99F5-5E3A8465BE3A</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>330</integer>
		</dict>
		<key>AC9E01B1-D2F6-5D9B-BA57-28D21C23A769</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>B7383943-4212-59E4-BE4F-4C26033EC4C3</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<integer>630</integer>
		</dict>
		<key>C190D144-20EE-5941-8191-BD87357CA5C9</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>1030</integer>
		</dict>
		<key>C8FB5E3C-7B2E-5726-9D54-0AA46018ABDE</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>900</integer>
		</dict>
		<key>C9CE0343-42F8-5C0D-AE94-F977AB760047</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>D242243E-5AF8-5DB8-9AED-2CB1DC7588AA</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>500</integer>
		</dict>
		<key>E83B3AC5-00E2-5CDF-ADE3-40B6CBEBA0C2</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<integer>480</integer>
		</dict>
		<key>F9207154-2029-5BD1-B3BC-D34CEBA03831</key>
		<dict>
			<key>note</key>
			<string>Set a hotkey to show the latest verification codes</string>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>1030</integer>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Copy it from the API section of https://proxiedmail.com/en/settings</string>
			<key>label</key>
			<string>API Token</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>api_token</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>copy</string>
				<key>pairs</key>
				<array>
					<array>
						<string>↩ copies the alias</string>
						<string>copy</string>
					</array>
					<array>
						<string>↩ pastes the alias</string>
						<string>paste</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>What ↩ does in the alias search. ⌘↩ does the opposite.</string>
			<key>label</key>
			<string>Alias Search</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>pmail_enter</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>copy</string>
				<key>pairs</key>
				<array>
					<array>
						<string>Copy alias to clipboard</string>
						<string>copy</string>
					</array>
					<array>
						<string>Paste alias into frontmost app</string>
						<string>paste</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>⌘↩ does the opposite.</string>
			<key>label</key>
			<string>After Creating</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>after_create</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>newest</string>
				<key>pairs</key>
				<array>
					<array>
						<string>Newest first (learns from use)</string>
						<string>newest</string>
					</array>
					<array>
						<string>Alphabetically</string>
						<string>az</string>
					</array>
					<array>
						<string>Most emails received</string>
						<string>received</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Sort Aliases</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>sort_order</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Hide ProxiedMail's automatic news alias</string>
			</dict>
			<key>description</key>
			<string>Search with :all to include it.</string>
			<key>label</key>
			<string>Automatic Aliases</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>hide_automatic</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Turn on inbox browsing for new aliases</string>
			</dict>
			<key>description</key>
			<string>Required to read emails in Alfred. Burner aliases always have it on.</string>
			<key>label</key>
			<string>Inbox Browsing</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>new_browsable</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Load remote images when viewing emails</string>
			</dict>
			<key>description</key>
			<string>Off by default so senders can't track when you open an email.</string>
			<key>label</key>
			<string>Remote Images</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>remote_images</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Show a notification after actions</string>
			</dict>
			<key>description</key>
			<string>Failures are always shown.</string>
			<key>label</key>
			<string>Notifications</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>notifications</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>defaultvalue</key>
				<integer>0</integer>
				<key>markercount</key>
				<integer>5</integer>
				<key>maxvalue</key>
				<integer>120</integer>
				<key>minvalue</key>
				<integer>0</integer>
				<key>onlystoponmarkers</key>
				<true/>
				<key>showmarkers</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Seconds before a copied code or email text is cleared from the clipboard. 0 keeps it. Codes are never saved to Alfred's clipboard history.</string>
			<key>label</key>
			<string>Clear Codes</string>
			<key>type</key>
			<string>slider</string>
			<key>variable</key>
			<string>clear_seconds</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>3</string>
				<key>pairs</key>
				<array>
					<array>
						<string>1 minute</string>
						<string>1</string>
					</array>
					<array>
						<string>3 minutes</string>
						<string>3</string>
					</array>
					<array>
						<string>5 minutes</string>
						<string>5</string>
					</array>
					<array>
						<string>10 minutes</string>
						<string>10</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>How long the codes view keeps checking for new emails.</string>
			<key>label</key>
			<string>Watch For Codes</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>watch_minutes</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>15</string>
				<key>pairs</key>
				<array>
					<array>
						<string>Last 5 minutes</string>
						<string>5</string>
					</array>
					<array>
						<string>Last 15 minutes</string>
						<string>15</string>
					</array>
					<array>
						<string>Last 30 minutes</string>
						<string>30</string>
					</array>
					<array>
						<string>Last hour</string>
						<string>60</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>How old an email can be to show up in the codes view.</string>
			<key>label</key>
			<string>Recent Emails</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>code_window_minutes</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>300</string>
				<key>pairs</key>
				<array>
					<array>
						<string>Every minute</string>
						<string>60</string>
					</array>
					<array>
						<string>Every 5 minutes</string>
						<string>300</string>
					</array>
					<array>
						<string>Every 15 minutes</string>
						<string>900</string>
					</array>
					<array>
						<string>Every hour</string>
						<string>3600</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>How often the alias list is fetched again. Changes made in Alfred always refresh it.</string>
			<key>label</key>
			<string>Refresh Aliases</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>cache_ttl</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>15</string>
				<key>pairs</key>
				<array>
					<array>
						<string>5 seconds</string>
						<string>5</string>
					</array>
					<array>
						<string>10 seconds</string>
						<string>10</string>
					</array>
					<array>
						<string>15 seconds</string>
						<string>15</string>
					</array>
					<array>
						<string>30 seconds</string>
						<string>30</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Network Timeout</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>timeout_seconds</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>https://proxiedmail.com</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Only change this if ProxiedMail tells you to.</string>
			<key>label</key>
			<string>API Address</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>api_host</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>pmail</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Search Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>kw_aliases</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>pmnew</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Create Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>kw_create</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>pminbox</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Inbox Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>kw_inbox</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>pmcode</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Codes Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>kw_code</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>0.3.0</string>
	<key>webaddress</key>
	<string>https://github.com/x-o-r-r-o/alfred-proxiedmail</string>
</dict>
</plist>
